.portfolio__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.portfolio__list::before {
  content: '\2022'; /* юникод точки */
  color: rgb(7%, 13%, 21%); /* Менять цвет */
  font-weight: bold; /* Менять жирность */
  display: inline-block; /* Расстояние между точкой и текстом */
  width: 1em; /* Задать значение расстояния */
  font-size: 50px;
  padding-top: 20px;
}
