.about-me__subtitle {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 22px;
  color: rgb(7%, 13%, 21%);
  margin: 0;
  padding-bottom: 30px;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: rgb(7%, 13%, 21%);
  margin-bottom: 4px;
  /* margin-top: 60px;
  margin-bottom: 20px; */
}
