.work-experience__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: rgb(7%, 13%, 21%);
}

.work-experience__paragraph:last-child {
  margin-top: 5px;
}
