.work-experience__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: rgb(7%, 13%, 21%);
  margin-top: 8px;
}

.work-experience__paragraph:first-child {
  margin-top: 0;
}
