.about-me {
  grid-area: about-me;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  width: 100%;
  height: 1754px;
  margin-bottom: 100%;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 0;
  background-color: rgba(237, 237, 237);
  box-sizing: border-box;
}
