.work-experience {
  /* display: flex;
  flex-direction: row; */
  margin-top: 20px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: repeat(3, auto);
  /* grid-template-areas: 'title title'; */
  row-gap: 10px;
  width: 100%;
  column-gap: 10px;
}
