.portfolio__arrow {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 18px;
  color: rgb(7%, 13%, 21%);
  margin: 0;
  border: 0;
  padding-left: 20px;
  letter-spacing: -0.04em;
}
